.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
}

#searchText {
    width: 100%
}

li {
    list-style: none;
}

.list{
    text-align: left
}

#shows img {
  width:100%;
}

@media(min-width:960px){
  #shows .col-md-3 .well{
    height: 390px;
  }

  #shows .col-md-3 img{
    height:240px;
  }
}

#show img {
  width:100%;
}

@media(min-width:960px){
  #show .col-md-3 .well{
    height: 390px;
  }

  #show .col-md-3 img{
    height:240px;
  }
}

#seasons img {
  width:100%;
}

@media(min-width:960px){
  #seasons .col-md-3 .well{
    height: 390px;
  }

  #seasons .col-md-3 img{
    height:240px;
  }
}

.test-class {
  transition: opacity 1s ease-in;
  position: fixed;
  width: 80%
}

#customStyles {
    
        top: '50%';
        left: '50%';
        right: 'auto';
        bottom: 'auto';
        marginRight: '-50%';
        transform: 'translate(-50%, -50%)';
}

.box img{
    height: 400px;
    padding: 10px 10px 10px 10px;
}

.box div {
  background: #4e5d6c;
  padding: 0px 0px
}

.col-md-4 {
  right: 5px;
}




  



